body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
}
h2{
  font-family: 'Montserrat', sans-serif;
}
h1{
  font-family: 'Sacramento', cursive;
}
.pro-photo{
  height: 150px;
}
.bottom-cloud{
  height: 50px;
  position: absolute;
}
.top-cloud{
  height: 50px;
  position: relative;
  padding: 20px;
  top: 50px;
  left: 200px;
}
.firstcontainer{
  background-color: #CFF5E7;
}
.secondcontainer{
  background-color: red;
  height: 200px;
  width: 200px;
}
.thirdcontainer{
  background-color: blue;
  height: 200px;
  width: 200px;
}
.mountain{
  height: 500px;
}
.pro{
  text-decoration: underline;
}
